<div class="text-center">

    <h1 class="display-4">Welcome to Savitribai Phule Pune University </h1>



</div>





<style>

    h1 {
        border-width: 2px;
        border-color: blue;
    }
</style>